<% content_for :title do %>
  <% if request.path_info == '/public_timeline' %>  <%# request.endpoint equivalent %>
    Public Timeline
  <% elsif request.path_info =~ /\/user\/[^\/]+$/ %> <%# Rough equivalent for user_timeline %>
    <%= @profile_user.username %>'s Timeline <%# Assuming @profile_user is available %>
  <% else %>
    My Timeline
  <% end %>
<% end %>

<h2><%= yield :title %></h2> <%# Accessing the title in the body %>

<% if @user %> <%# Assuming @user is available %>
  <% if request.path_info =~ /\/user\/[^\/]+$/ %> <%# user_timeline equivalent %>
    <div class=followstatus>
      <% if @user.user_id == @profile_user.user_id %>
        This is you!
      <% elsif @followed %> <%# Assuming @followed is available %>
        You are currently following this user.
        <a class=unfollow href="<%= url_for('unfollow_user', username: @profile_user.username) %>">Unfollow user</a>.
      <% else %>
        You are not yet following this user.
        <a class=follow href="<%= url_for('follow_user', username: @profile_user.username) %>">Follow user</a>.
      <% end %>
    </div>
  <% elsif request.path_info == '/timeline' %> <%# timeline equivalent %>
    <div class=twitbox>
      <h3>What's on your mind <%= @user.username %>?</h3>
      <form action="<%= url_for('add_message') %>" method=post>
        <p><input type=text name=text size=60><input type=submit value="Share">
      </form>
    </div>
  <% end %>
<% end %>
<ul class=messages>
  <% if @messages.empty? %>
    <li><em>There's no message so far.</em></li>
  <% else %>
    <% @messages.each do |message| %>
      <li><img src="<%= gravatar(message.email, size: 48) %>"><p>
        <strong><a href="<%= url_for('user_timeline', username: message.username) %>"><%= message.username %></a></strong>
        <%= message.text %>
        <small>&mdash; <%= datetimeformat(message.pub_date) %></small>
      </li>
    <% end %>
  <% end %>
</ul>