<% page_title = if request.path_info == '/public'
  'Public Timeline'
elsif request.path_info =~ /\/[^\/]+$/
  "#{@profile_user['username']}'s Timeline"
else
  'My Timeline'
end %>

<% content_for :title do %>
<%= page_title %>
<% end %>

<h2><%= page_title %></h2>

<% if @user %>
<% if request.path_info =~ /\/[^\/]+$/ && @profile_user %>
<div class="followstatus">
<% if @user['user_id'] == @profile_user['user_id'] %>
This is you!
<% elsif @followed %>
You are currently following this user.
<a class="unfollow" href="<%= url("/#{@profile_user['username']}/unfollow") %>">Unfollow user</a>.
<% else %>
You are not yet following this user.
<a class="follow" href="<%= url("/#{@profile_user['username']}/follow") %>">Follow user</a>.
<% end %>
</div>
<% else %>
<div class="twitbox">
<h3>What's on your mind <%= @user['username'] %>?</h3>
<form action="<%= url('/add_message') %>" method="post">
<p><input type="text" name="text" size="60"><input type="submit" value="Share"></p>
</form>
</div>
<% end %>
<% end %>

<ul class="messages">
  <% if @messages.empty? %>
    <li><em>There's no message so far.</em></li>
  <% else %>
    <% @messages.each do |message| %>
      <li><img src="<%= gravatar_url(message['email'], 48) %>"><p>
        <strong><a href="<%= url("/#{message['username']}") %>"><%= message['username'] %></a></strong>
        <%= h(message['text']) %>
        <small>&mdash; <%= format_datetime(message['pub_date']) %></small>
      </p></li>
    <% end %>
  <% end %>
</ul>